main {
  min-height: 200px;
  font: normal 14px sans-serif;
  text-align: center;
  background-color: #0c1020;
  overflow: hidden;
  line-height: 25px;
  border-radius: 4px;
  color: #d9a74a;
  height: 400px;
  padding-bottom: 10px;
  margin: 20px auto 0 auto;
  max-width: 500px;
  position: relative;

  p {
    margin: 0;
  }

  > div:not(error-message) {
    padding-top: 30px;
  }

  .search {
    margin-bottom: 15px;
  }
}

::ng-deep .leaflet-control-attribution {
  display: none;
}

.centered-search {
  position: absolute;
  left: 50%;
  width: 100%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
}

.heading {
  margin-bottom: 10px;
  font: normal 15px sans-serif;
  padding-bottom: 10px;
}

#map {
  position: relative;
  height: calc(100% - 235px);
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 5px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

input {
  font: normal 14px sans-serif;
  padding: 4px 0 4px 10px;
  border-radius: 3px;
  outline: none;
  border: none;
}

button {
  color: #2b3d52;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  padding: 3px 10px 4px 10px;
  margin-left: 15px;
  border-radius: 4px;
  background-color: white;
}

.error-message {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -40px;
  transition: bottom 0.5s;
  z-index: 999;
  background-color: #313b3f;
  padding: 5px 0 !important;
}

.show-error {
  bottom: 0 !important;
}

@media screen and (max-width: 545px) {
  main {
    margin-left: 20px;
    margin-right: 20px;

    input {
      width: calc(100% - 50px);
      text-align: center;
      margin-bottom: 20px;
    }

    button:first-child {
      margin-left: 0;
    }

    button {
      width: 120px;
    }
  }
}
